03. DATA PREPARATION

In [2]:
import pandas as pd
import numpy as np

filepath = '../../data/raw-coords/3-fullvideo.csv'

df = pd.read_csv(filepath)

df.columns

Index(['frame_index', 'ball', 'id_1_team_0', 'id_2_team_0', 'id_3_team_1',
       'id_4_team_0', 'id_5_team_0', 'id_6_team_1', 'id_7_team_1',
       'id_8_team_1',
       ...
       'id_1133_team_1', 'id_1135_team_1', 'id_1138_team_1', 'id_1143_team_1',
       'id_1157_team_1', 'id_1174_team_1', 'id_1191_team_1', 'id_1197_team_1',
       'id_1198_team_1', 'id_1207_team_1'],
      dtype='object', length=305)

See Transitions of ids or detect ids of referees or other entities - manually

- lt - loses track
- f - frame

ex: id2 lt f14 -> id43 (id 2 loses track on frame 14 and becomes id 43)

In [ ]:
#both
#drop empty columns
df = df.dropna(axis=1, how='all')
#drop extra columns
df = df.drop(columns=['detection_count'])

#IDs to remove
#ids: 21 - referee

In [ ]:
#TEAM 0
#id23 - gk
#lt f51 -> id66 lt f57 -> id84 lt f62-431 -> id1288 lt f455 -> id1371 lt f471

#id15 - cb1
#lt f61-64 -> id143 lt f74-81 -> id191 lt f91-92 -> id216 lt f221-223 -> id727 lt f413-414 -> id1112 lt f416-423 -> id835 lt f425-429 -> id1276 lt f453-461

#id12 - cb2
#lt f61 -> id100 lt f63-64 -> id140 lt f91-96 -> id218 lt f142 -> id276

In [ ]:
#TEAM 1

In [ ]:
#save cleaned subset
df.to_csv(subset, index=False)