03. DATA PREPARATION

In [ ]:
import pandas as pd
import numpy as np

filepath = '../../data/raw-coords/3-fullvideo.csv'

df = pd.read_csv(filepath)

df.columns

In [6]:
#drop empty columns
df = df.dropna(axis=1, how='all')

See Transitions of ids or detect ids of referees or other entities - manually

- lf{x} - loses track on frame x

ex: id2 lf14 -> id43 (id 2 loses track on frame 14 and becomes id 43)

In [ ]:
#TEAM 0 - PSG

In [ ]:
#TEAM 1 - Liverpool
#gk - id22 lf51 ->id54 ltf57 ->id69 ltf62 ->id1099 ltf455 ->1174
#cb1 - id14 lf61-64 ->id121 ltf73-81 ->id163 ltf91-92 ->id187 ltf221-223 ->id576 ltf413-414 -> id936 ltf416-423 ->id658 ltf425-429 -> id1088 ltf453-460 ->id1266 ltf462-463 ->id1295 ltf475-477 ->id1371 ltf508-509 ->id1452 ltf511-516 -> id1480 ltf522 ->id1480

#cb2- id11 lf61 ->id84 lf63-64->id118 lf91-96->id185 lf142->id248->id125 f206->id248 lf222->id575->f231 id248 lf419-429->id1086 lf453-458->id1230 lf476->id1366 lf485->id1383 lf509-511->id1462 lf531-532->id1505

In [ ]:
#drop extra ids
#extreme cases:
#frame 147 - see subs
#frame 73 - see sideline referee

#ids:
#21,72,105,8,108,316,472,432,536,602,625,836,843,1102,1232,1347,1216,1496 - referee
#682 - camera men
#334,307,305,621,416,759,767,779,825,836,843,851,849,868,760,903 - sub 
#775,1128,1133,1121,964,887,814,775,416 - side line referee
df = df.drop(columns=['x', 'y',...])

Random Walk / Interpolation of missing values

In [ ]:
#todo

Save Dataset

In [ ]:
#clean save
df.to_csv(filepath, index=False)